.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5em;
    margin-bottom: 3em;
}

.social-list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.social-list svg:hover {
    color: red;
    transition: .5s;
}

.copy-right {
    font-size: 12px;
    margin-top: 1em;
    color: red;
}

.logo-name {
    color: gold;
}