.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
    align-items: center;
    padding: 1em 4em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
    font-size: 1.2em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: salmon;
}

.navbar img {
    width: 70px;
}