* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* serve para os inputs não ultrapassarem o valor da div  */
  }
  
  html, body, #root {
    background-color: #efefef;
    height: 100%;
  }